<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>
 <h1>Create a book</h1>
 <form method="post" action="#">
     <div class="form-group">
         <label for="name">Name:</label>
         <input name="name" type="text" id="name" maxlength="100" placeholder="Name" >
         <label for="author">Author:</label>
         <input name="author" type="text" id="author" maxlength="30" placeholder="Author" >
         <label for="genre">Genre:</label>
         <input name="genre" type="text" id="genre" maxlength="20" placeholder="Genre" >
         <button type="submit">Add</button>
     </div>
 </form>
</body>
</html>